@import url('../vendor/normalize.css');
@import url('../fonts/fonts.css');

:root {
  --footer-height: 30px;
  --sign-page-background-color: aquamarine;
  --sign-content-background-color: blueviolet;
  --main-title-color: #fff;
  --form-input-outline-color: aquamarine;
  --main-transition: all .6s ease-in-out;;
}

.page {
  font-family: 'Inter', Helvetica, sans-serif;
  min-width: 320px;

  transition: visibility 0s, opacity 0.5s linear;
}

.page_type_sign {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--sign-page-background-color);
}

.main_type_sign {
  width: 100%;
  max-width: 500px;
  min-height: 100vh;
  background-color: var(--sign-content-background-color);
  display: flex;
  justify-content: center;

}

.sign-form {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.sign-form__title {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  opacity: .7;
  color: var(--sign-page-background-color);
}

.footer {
  height: 30px;
}

.sign-form__btn {
  padding: 12px;
  background-color: #2a325e;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  transition: var(--main-transition);
}

.sign-form__btn:hover {
  background-color: #2a325e93;
  cursor: pointer;
  transform: scale(1.02);
}

.footer__copyrights {
  padding: 0;
  margin: 0;
}

/* ---form--- */
.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form__input-container {
  position: relative;
}

.form__input {
  font-size: 18px;
  border-radius: 10px;
  border: none;
  padding: 12px;
  width: calc(100% - 24px);
  transition: var(--main-transition);
}

.form__input:focus {
  outline: none;
  box-shadow: 0 0 10px 3px var(--form-input-outline-color);
}

.form__eye {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(/img/eye-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 14px;
  right: 14px;
  opacity: 0.4;
  transition: var(--main-transition);
}

.form__eye:hover {
  cursor: pointer;
  opacity: 0.6;
}

.form__validation-error {
  display: block;
  padding-left: 14px;
  padding-top: 6px;
  color: #f09292;
  position: absolute;
  bottom: -22px;
}

.form__btn {
  padding: 12px;
  margin-top: 50px;
  background-color: #2a325e;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  transition: var(--main-transition);
}

.form__btn:hover {
  background-color: #2a325e93;
  cursor: pointer;
  transform: scale(1.02);
}

.form__link {
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition: all .4s ease-in-out;
}

.form__link:hover {
  text-decoration: underline;
  transform: scale(1.01);
}

/* ----Profile------ */

.header{
  display: flex;
  background-color: lightgray;
  position: relative;
}
.header__logo{
  height: 45px;
  width: 45px;
  padding: 20px;
  margin: 20px;
  background-color: gray;
}
.header__nav{
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
}
.header__nav-list{
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  min-width: 300px;
  margin-left: 100px;
}
.header__nav-item {
  background-color: white;
  padding: 15px;
  font-family: 'Inter', Helvetica, sans-serif;
  cursor: pointer;
  transition: var(--main-transition);
}
.header__nav-item:hover {
  border-bottom: 2px solid var(--form-input-outline-color);
  outline: none;
  box-shadow: 0 0 10px 3px var(--form-input-outline-color);
  transform: scale(1.01);
}
.header__nav-item_state_active {
  border-bottom: 2px solid var(--sign-content-background-color);
}
.header__profile-group{
  position: absolute;
  right: 0;
}
.header__profile-photo {
  background-color: var(--sign-content-background-color);
  transition: var(--main-transition);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 20px;
}
.header__profile-photo:hover {
  cursor: pointer;
  transform: scale(1.02);
  outline: none;
  box-shadow: 0 0 10px 3px var(--form-input-outline-color);
}
