@import url('../vendor/normalize.css');
@import url('../fonts/fonts.css');

:root {
  --footer-height: 30px;
  --sign-page-background-color: aquamarine;
  --sign-content-background-color: blueviolet;
  --main-title-color: #fff;
  --form-input-outline-color: aquamarine;
}

.page {
  font-family: 'Inter', Helvetica, sans-serif;
  min-width: 320px;

  transition: visibility 0s, opacity 0.5s linear;
}

.page_type_sign {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--sign-page-background-color);
}

.main_type_sign {
  width: 100%;
  max-width: 500px;
  min-height: 100vh;
  background-color: var(--sign-content-background-color);
  display: flex;
  justify-content: center;

}

.sign-form {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.sign-form__title {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  opacity: .7;
  color: var(--sign-page-background-color);
}

.footer {
  height: 30px;
}

.sign-form__btn {
  padding: 12px;
  background-color: #2a325e;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  transition: all .6s ease-in-out;
}

.sign-form__btn:hover {
  background-color: #2a325e93;
  cursor: pointer;
  transform: scale(1.02);
}

.footer__copyrights {
  padding: 0;
  margin: 0;
}

/* ---form--- */
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__input {
  font-size: 18px;
  border-radius: 10px;
  border: none;
  padding: 12px;
  transition: all .6s ease-in-out;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 0 10px 3px var(--form-input-outline-color);
}

.form__btn {
  padding: 12px;
  margin-top: 50px;
  background-color: #2a325e;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  transition: all .6s ease-in-out;
}

.form__btn:hover {
  background-color: #2a325e93;
  cursor: pointer;
  transform: scale(1.02);
}

.form__link {
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition: all .4s ease-in-out;
}

.form__link:hover {
  text-decoration: underline;
  transform: scale(1.01);
}

.form__eye {
  position: absolute;
}